# --- Python & System ---
__pycache__/
*.py[cod]
.DS_Store
.venv/
venv/
env/

# --- IDE Settings ---
.vscode/
.idea/

# --- Notebooks ---
.ipynb_checkpoints/

# --- Data & Datasets ---
# Large data folders
data/
dataset/
prepped_data/
cropped_cards/

# Compressed archives
*.zip
*.tar.gz

# --- Models & Weights ---
# Specific ML weights
*.pt
*.pth
*.onnx

# Experiment directories (Using wildcard to catch all learning rates)
model lr*/
model_lr*/

# --- Outputs & Logs ---
output/
output_*/
runs/
logs/